# ======================================================
#   Built-in libraries (no installation needed):
#
#   shutil - File operations
#   logging - Logging functionality
#   glob - File pattern matching
#   datetime - Date/time handling
#   os - Operating system interface
#   configparser - Configuration file parsing
# ======================================================

# external libraries (installation needed):
ipython
yfinance
requests
matplotlib
seaborn
pandas
numpy
scipy
